/* CSS for add funds start from here */

.fundsHeading {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;

    color: rgba(0, 0, 0, 0.75);
}

.fundsHeading-input {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.75);
}




.card {
    border-radius: 10px;
    border-color: 2px aliceblue
}

.input-data-card {
    


    background: #FFFFFF;
    box-shadow: 0px 8px 8px 
        0px rgba(0, 0, 0, 0.2);
    border-color: #f1f1f1;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* CSS for order summary start from here */

.left-summary{
    font-family: 'League Spartan';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
/* identical to box height */


color: rgba(0, 0, 0, 0.65);
}

.right-summary{
    font-family: 'League Spartan';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
/* identical to box height */


color: rgba(0, 0, 0, 0.8);
}



/* CSS for dropdown */
.dropbtn {
    
    color: white;
    
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 
        0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
   
}

.dropdown-content img {
    opacity: 0.5; /* Non-selected image opacity */
}

.dropdown-content img.selected {
    opacity: 1; /* Selected image opacity */
}